<h2>Последние посты</h2>
<br />
<% @results.each do |post| %>
  <p>
    <%= post['content']%><br />
    <br /> added at <%=  post['created_date'] %>
    <br />
    <a href="/details/<%= post['id'] %>">Comments</a>
    <hr />
    </p>
<% end %>
