<h2>Add New Post</h2>
<p>
  <form action="/new" method="POST">
    <div class="form-group">
      <div class="form-group">
  <label for="formGroupExampleInput">Представьтесь пожалуйста</label>
  <input type="text" name="nickname" class="form-control" id="formGroupExampleInput" placeholder="Ваше имя">
</div>
  <label for="exampleFormControlTextarea1">Наберите ваш текст</label>
  <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Type post text here" style="width: 400px"></textarea>
</div>
<br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</p>
